{% extends "layout.html" %}

{% block title %}
    hl
{% endblock %}

{% block main %}

<p>You get a number, guess if the next will be higher, lower, or equal!</p>

<table>
    <thead>
        <tr>
            <td>number</td>
            <td>higher</td>
            <td>tie</td>
            <td>lower</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ random_number }}</td>
            <td><p><form method="post">
                <button class="btn btn-primary" type="submit" name="choice" value="higher">Higher</button>
            </form></p></td>
            <td><p><form method="post">
                <button class="btn btn-primary" type="submit" name="choice" value="tie">tie</button>
            </form></p></td>
            <td><p><form method="post">
                <button class="btn btn-primary" type="submit" name="choice" value="lower">Lower</button>
            </form></p></td>
        </tr>
    </tbody>
</table>

{% if win %}
    <div class="alert alert-success" role="alert">
        Congratulations, you win! Your current score is: {{ score }}!
    </div>
{% endif %}
{% if loss %}
    <div class="alert alert-danger" role="alert">
        Sorry, you've lost. Your current score is: {{ score }}!
    </div>
{% endif %}



{% endblock %}
